.banner {
  margin-top: 10rem;
  padding: 5rem 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .content {
    grid-column: 2 / 3;
  }
}

.text {
  font-size: 2rem;
  color: var(--white);
  text-align: center;
}
@media (min-width: 768px) {
  .text {
    font-size: 2.3rem;
  }
}
