.header {
  background-image: linear-gradient(to right, rgb(0 0 0 / .8), rgb(0 0 0 / .7)), url(/img/header.jpg);
  background-size: cover;
  background-position: center;
  padding: 4rem 0;
  position: relative;
}
.bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
@media (min-width: 768px) {
  .bar {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}
.logo {
  width: 30rem;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .navigation {
    gap: 2rem;
  }
}
.link {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.5rem;
  padding: .7rem;
}
.link:last-of-type {
  display: none;
}
@media (min-width: 768px) {
  .link:last-of-type {
    display: block;
  }
}
@media (hover: hover) {
  .link {
    transition: background-color .3s;
  }

  .link:hover:not(.active, .link:last-of-type) {
    background-color: var(--primary);
  }
}
.active {
  color: var(--primary);
}
.icon {
  width: 2.5rem;
}